$hot-pink-100: #FDD8D3;
$hot-pink-200: #FBABA9;
$hot-pink-300: #F47C84;
$hot-pink-400: #E95A72;
$hot-pink-500: #DB2857;
$hot-pink-600: #BC1D56;
$hot-pink-700: #9D1452;
$hot-pink-800: #7F0C4B;
$hot-pink-900: #690747;

$stone-50: #fafaf9;
$stone-100: #f5f5f4;
$stone-200: #e7e5e4;
$stone-300: #d6d3d1;
$stone-400: #a8a29e;
$stone-500: #78716c;
$stone-600: #57534e;
$stone-700: #44403c;
$stone-800: #292524;
$stone-900: #1c1917;

.nav-item.active {
    position: relative;

    background-color: $stone-100 !important;

    color: $hot-pink-500;
    font-weight: bold;
}

.nav-item.active:before {
    content: '';
    display: block;
    position: absolute;

    width: 20px;
    height: 20px;

    right: 0;
    top: 0;

    transform: translateY(-100%);

    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.4.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30 30' style='enable-background:new 0 0 30 30;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23f5f5f4;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,30h30V0C30,16.6,16.6,30,0,30z'/%3E%3C/svg%3E%0A");
}

.nav-item.active:after {
    content: '';
    display: block;
    position: absolute;

    width: 20px;
    height: 20px;

    right: 0;
    bottom: 0;

    transform: translateY(100%);

    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.4.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30 30' style='enable-background:new 0 0 30 30;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23f5f5f4;%7D%0A%3C/style%3E%3Cpath class='st0' d='M30,30V0H0C16.6,0,30,13.4,30,30z'/%3E%3C/svg%3E%0A");
}

input {
    border-width: 0px !important;
    border-bottom-width: 1px !important;
}

.qr-selector.active {
    background-color: $hot-pink-500 !important;

    color: white;
}

.qr-selector.active #selector-descriptor {
    display: none;
}

#selector-content {
    top: 0;

    transition: all 0.3s ease;
}

#selector-block-head.disabled,
#selector-block-foot.disabled {
    cursor: initial;
    color: $hot-pink-200 !important;
}

#download-button:disabled {
    background-color: $stone-500 !important;
    box-shadow: none;
}
