$qrmory-purple-100: #F0D0F7;
$qrmory-purple-200: #DEA4F0;
$qrmory-purple-300: #B66FD2;
$qrmory-purple-400: #8444A6;
$qrmory-purple-500: #49176B;
$qrmory-purple-600: #39105C;
$qrmory-purple-700: #2A0B4D;
$qrmory-purple-800: #1E073E;
$qrmory-purple-900: #150433;

$stone-50: #fafaf9;
$stone-100: #f5f5f4;
$stone-200: #e7e5e4;
$stone-300: #d6d3d1;
$stone-400: #a8a29e;
$stone-500: #78716c;
$stone-600: #57534e;
$stone-700: #44403c;
$stone-800: #292524;
$stone-900: #1c1917;

.hero-heading span {
    font-size: 110%;
    color: transparent;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.policy-document h3 {
    margin-top: 2rem;

    font-family: 'marydale', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    color: $qrmory-purple-500;
}

.policy-document h4 {
    margin-top: 1.25rem;

    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5rem;

    color: $qrmory-purple-500;
}

.policy-document p {
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 1rem;
    line-height: 1.5rem;
}

.control-label {
    margin-bottom: 2rem;
    color: $qrmory-purple-500;
}

.control-input {
    width: 100%;
    max-width: 32rem;

    background-color: transparent;
    border-color: $qrmory-purple-500;

    color: $qrmory-purple-500;
    font-weight: bold;

    transition: all 3ms ease;
}

.control-input:focus {
    background-color: $stone-50;
}

input {
    border-width: 0px !important;
    border-bottom-width: 1px !important;
}

.qr-selector.active {
    background-color: $qrmory-purple-500 !important;

    color: white;
}

.qr-selector.active #selector-descriptor {
    display: none;
}

#selector-content {
    top: 0;

    transition: all 0.3s ease;
}

#selector-block-head.disabled,
#selector-block-foot.disabled {
    cursor: initial;
    color: $qrmory-purple-200 !important;
}

#download-button:disabled {
    background-color: $stone-500 !important;
    box-shadow: none;
}
